/* Global Theme Colors */

$primary: #083F63;
$dark-background-text: #FFFFFF;
$light-background-text: #000000;

/* Import the Carbon Framework With Custom Colors */
@use '@carbon/react' with (
  $theme: (
    background: $primary,
    text-primary: $dark-background-text,
    text-secondary: $dark-background-text,
    text-inverse: $light-background-text,
  )
);

/* Use the Carbon Grid */
@use '@carbon/grid';
@include grid.flex-grid();

main {
  color: $light-background-text !important;
}